<%- include("./_header") -%>

<% const navItem =(link, text, icon, active)=>{  %>
  <%  const iconPath = `images/icons.svg#icon-${icon}` %>
  <%  const html =` <li class=${active ? 'list-group-item side-nav--active' : 'list-group-item'}> <a href=${link}><svg><use xlink:href=${iconPath}></use></svg>${text}</a></li>` %>
  <%  return html } %>




<main class="main">
  <div class="user-view container-fluid">
    <div class="row d-flex title-div ">
      <div class="col-md-3  ">
        <nav class="user-view__menu">
          <ul class="side-nav list-group">
            <%- navItem('#', 'Settings', 'settings', true) -%>
            <%- navItem('/my-orders', 'My orders', 'briefcase')-%>
            <%- navItem('#', 'My reviews', 'star')-%>
            <%- navItem('#', 'Payments', 'credit-card')-%>
          </ul>
          <% if (user.role==='admin') { %>
          <div class="admin-nav">
            <h5 class="admin-nav__heading">Admin</h5>
            <ul class="side-nav">
              <%-navItem('#', 'Manage products', 'map')-%>
              <%-navItem('#', 'Manage users', 'users')-%>
              <%-navItem('#', 'Manage reviews', 'star')-%>
              <%-navItem('#', 'Manage orders', 'briefcase')-%>
            </ul>
          </div>
          <% } %>
        </nav>

      </div>
  
        
    
    
    <div class="col-md-9  align-self-center user-view__content">
      <div class="user-view__form-container">
        <h2 class="heading-secondary ma-bt-md">Your account settings</h2>
        <form class="form-user-data">
          <div class="form-row form__group">
            <label class="form__label" for="name">Name</label>
            <input
              class="form-control form__input"
              id="name"
              type="text"
              value=<%=user.name%>
              required="required",
              name='name'
            />
          </div>
          <div class="form-row form__group ma-bt-md">
            <label class="form__label" for="email">Email address</label>
            <input
              class="form-control form__input"
              id="email"
              type="email"
              value=<%=user.email%>
              required="required",
              name='email'
            />
          </div>
          <div class="form-row form__group form__photo-upload">
            <img
              class="form__user-photo"
              src="/images/users/<%=user.photo%>" 
              alt="User photo"
            /><input class="form__upload" type="file" accept="image/*" id="photo" name='photo'/>
            <label for="photo">Choose new photo</label>
            
          </div>
          <div class="form-row form__group right">
            <button class="btn btn-dark submit-form">Save settings</button>
          </div>
        </form>
      </div>
      <div class="line">&nbsp;</div>
      <div class="user-view__form-container">
        <h2 class="heading-secondary ma-bt-md">Password change</h2>
        <form class="form form-user-settings">
          <div class="form-row form__group">
            <label class="form__label" for="password-current"
              >Current password</label
            >
            <input
              class="form-control form__input"
              id="password-current"
              type="password"
              placeholder="••••••••"
              required="required"
              minlength="8"
            />
          </div>
          <div class="form-row form__group">
            <label class="form__label" for="password">New password</label>
            <input
              class=" form-control form__input"
              id="password"
              type="password"
              placeholder="••••••••"
              required="required"
              minlength="8"
            />
          </div>
          <div class="form-row form__group ma-bt-lg">
            <label class="form__label" for="password-confirm"
              >Confirm password</label
            >
            <input
              class="form-control form__input"
              id="password-confirm"
              type="password"
              placeholder="••••••••"
              required="required"
              minlength="8"
            />
          </div>
          <div class="form-row form__group right">
            <button class="btn btn-dark submit-form">Save password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

<%- include("./_footer") -%>

<!--TODO: Make footer at the boottom
 const footer =document.querySelector('.footer__container') 
 footer.classList.add("fixed-bottom ")  -->
