<%- include("./_header") -%>

<% const navItem =(link, text, icon, active)=>{  %>
<%  const iconPath = `images/icons.svg#icon-${icon}` %>
<%  const html =` <li class=${active ? 'list-group-item side-nav--active' : 'list-group-item'}> <a href=${link}><svg><use xlink:href=${iconPath}></use></svg>${text}</a></li>` %>
<%  return html } %>
<%//let keys=Object.keys(allProducts[0].toJSON())%> 
<% const productSchema={ _id:{ visible:false, boolean:false, textarea:false },name:{ visible:true, boolean:false, textarea:false },ingredients:{ visible:true, boolean:false, textarea:false },weight:{ visible:true, boolean:false, textarea:false },price:{ number:true,visible:true, boolean:false, textarea:false},summary:{ visible:true, boolean:false, textarea:true },description:{ visible:true, boolean:false, textarea:true},imageCover:{ visible:true, boolean:false, textarea:false, isImage:true },images:{ visible:true, boolean:false, textarea:false, isImages:true }, orderByWeight:{ visible:true, boolean:true, textarea:false },customColors:{ visible:true, boolean:true, textarea:false },customFlavors:{ visible:true, boolean:true, textarea:false } ,   isFeatured:{ visible:true, boolean:true, textarea:false }}  %> 


<main class="main">
  <div class="user-view container-fluid">
    <!--  Side Nav-->
    <div class="row d-flex title-div ">
      <div class="col-md-3  ">
        <nav class="user-view__menu">
          <ul class="side-nav list-group">
            <%- navItem('/me', 'Settings', 'settings', true) -%>
            <%- navItem('/my-orders', 'My orders', 'briefcase')-%>
            <%- navItem('#', 'My reviews', 'star')-%>
            <%- navItem('#', 'Payments', 'credit-card')-%>
          </ul>
          <% if (user.role==='admin') { %>
          <div class="admin-nav">
            <h5 class="admin-nav__heading">Admin</h5>
            <ul class="side-nav">
              <%-navItem('/products', 'Manage products', 'map')-%>
              <%-navItem('#', 'Manage users', 'users')-%>
              <%-navItem('#', 'Manage reviews', 'star')-%>
              <%-navItem('#', 'Manage orders', 'briefcase')-%>
            </ul>
          </div>
          <% } %>
        </nav>
      </div>
      <!-- End  Side Nav-->




      <div class="col-md-9  align-self-center user-view__content">
        <h4 class="heading-secondary ma-bt-md">All Products</h4>
        <% if(allProducts ) { %>
        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

          <!-- All Products table -->
          <div class="table-responsive">
            <table class="table productsTable">
              <thead>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Image</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Product</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Price</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Discounted Price</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Ingredients</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase"> Is featured</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Edit</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% allProducts.forEach((product,index)=> { %>
                <tr >
                <!-- <tr data-toggle="collapse" data-target="<%=`#collapse${index}`%>"> -->
                  <th class="bproduct-0 align-middle">
                    <div class="d-inline-block align-middle rounded shadow-sm">
                      <img src="/images/products/<%= product.imageCover %>" alt="" width="60" class="img-fluid rounded shadow-sm">
                    </div>

                  </th>
                  <td class="bproduct-0 align-middle">
                    <div class="ml-3 d-inline-block align-middle">
                      <h5 class="mb-0"> <a data-toggle="collapse" href="#<%=`collapse${index}`%>"><%= product.name  %></a></h5>
                      <span class="text-muted font-weight-normal font-italic">Summary: <%= product.summary %></span>
                    </div>

                  </td>
                  <td class="bproduct-0 align-middle"><%= product.price  %></td>
                  <td class="bproduct-0 align-middle"><%= product.priceDiscount  %></td>
                  <td class="bproduct-0 align-middle"><%= product.ingredients.join(", ")%></td>
                  <td class="bproduct-0 align-middle"><i class="fas  <%= product.isFeatured===true?'fa-check-circle text-success':'fa-times-circle text-danger'%>"> </i></td>
                  <td class="bproduct-0 align-middle"><i class="fas fa-edit text-danger editProductBtn m-3" data-field="<%=JSON.stringify(product)%>"</i></td>
                </tr>
                <tr class="bproduct-0 align-middle collapse" id="<%=`collapse${index}`%>">
                  <td colspan="999">
                    <div>
                      <table class="table  table-striped table-responsive">
                        <thead>
                          <tr>
                            <th>Description</th>
                            <th>Weights(grams)</th>
                            <th>Custom</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="border-0 align-middle">
                              <p class="text-muted font-weight-normal font-italic">
                                <%= `Description: ${product.description} `%>
                              </p>
                            </td>
                            <td class="border-0 align-middle"><%= product.weight.join(", ") %></td>
                            <td class="border-0 align-middle"><span>Color: <i class="fas  <%= product.customColors===true?'fa-check-circle text-success':'fa-times-circle text-danger'%>"></i> </span>
                              <span>Flavor: <i class="fas  <%= product.customFlavors===true?'fa-check-circle text-success':'fa-times-circle text-danger'%>"> </i></span>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
          <!-- End  Product Table-->

        </div>
        
        <!-- The Modal -->
	<div class="modal" id="editProductModal">
	  	<div class="modal-dialog modal-xl">
		    <div class="modal-content">

		      	<!-- Modal Header -->
		      	<div class="modal-header">
			        <h4 class="modal-title">Edit Product</h4>
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
		      	</div>

		      	<!-- Modal body -->
		      	<div class="modal-body">
		        	<form action="" id="edit-form" >
                        <div class='form-row '>
                        
                            <% Object.entries(productSchema).map(([key, value], idx) =>  { %>
                                <% if (value['boolean']===true) { %> 
                                    <div class="form-check d-flex align-items-center justify-content-center col-md-4 col-sm-12">
                                        <label class="form-check-label" for="<%= key %>"><%= key %></label>
                                        <input class="" type="<%= value['visible']===false?'hidden':'checkbox' %>" name="<%= key %>">
                                    </div>
                                <% } else if (value['textarea']===true) { %> 
                                    <div class="form-group col-md-4 col-sm-12">
                                        <label class="form-label" for="<%= key %>"><%= key %></label>
                                        <textarea class="form-control txtArea"  name="<%= key %>"></textarea>
                                    </div>
                                <% } else if (value['isImage']===true) { %> 
                                    <div class="form-group custom-file col-md-4 col-sm-12">
                                        <img src="" alt="" width="60" class="img-fluid rounded shadow-sm <%= key %> "/>
                                      
                                        
                                        <input class="" id ="photo-<%= key %>" type="file" accept="image/*" name="<%= key %>"/>
                                        <!-- <label class="" for="<%= key %>">Choose new photo</label> -->
                                       
                                    
                                    </div>
                                    <% } else if (value['isImages']===true) { %> 
                                    <div class="form-group custom-file col-md-4 col-sm-12">
                                        <img src="" alt="" width="60" class="img-fluid rounded shadow-sm photo-<%= key %>0 "/>
                                        <img src="" alt="" width="60" class="img-fluid rounded shadow-sm photo-<%= key %>1 "/>   
                                        <img src="" alt="" width="60" class="img-fluid rounded shadow-sm photo-<%= key %>2 "/>
                    
                                      
                                        
                                        <input class="" id ="photo-<%= key %>" type="file" accept="image/*" name="<%= key %>" multiple/>
                                        <!-- <label class="" for="<%= key %>">Choose new photo</label> -->
                                       
                                    
                                    </div>

                                     <% } else { %> 

                                            <div class="form-group col-md-4 col-sm-12">
                                                <label class="form-label"  type=" for="<%= key %>"><%= key %></label>
                                                <input class="form-control" type="text" <%= value['visible']===false?'readonly':''%> name="<%= key %>">
                                            </div>
                                    <% }  %> 
					  	
					  	
                            <% }); %>
                         
                          </div>
					  	<button type="button" class="btn btn-primary" id="btnProductUpdateSubmit">Update</button>
					  	<button type="button" class="btn btn-danger float-right" data-dismiss="modal">Close</button>
                         
                          
					</form>


		      	</div>

		    </div>
	  	</div>
	</div>


        <% } else { %>
        <p class="alert alert-info">No products yet.</p>
        <% } %>
      </div>
    </div>

  </div>
</main>

<%- include("./_footer") -%>

<!--TODO: Make footer at the boottom
 const footer =document.querySelector('.footer__container')
 footer.classList.add("fixed-bottom ")  -->