<%- include("./_header") -%>

<main class="account-container">
  <div class="user-view container-xl">
    <div class="row d-flex title-div ">
      <div class="col-md-3">
       <%- include("./_nav") -%>
      </div> 
    <div class="col-md-9  align-self-center user-view__content">
      <div class="user-view__form-container">
        <h2 class="heading-secondary" id="settings">Your account settings</h2>
        <form class="form-user-data needs-validation" novalidate>
          <div class="form-row form__group">
            <label class="form__label" for="name">Name</label>
            <input
              class="form-control form__input"
              id="name"
              type="text"
              value="<%=user.name%>"
              required
              name='name'
            />
             <div class="invalid-feedback">
            Please provide name
          </div>
          </div>
          <div class="form-row form__group">
            <label class="form__label" for="email">Email address</label>
            <input
              class="form-control form__input"
              id="email"
              type="email"
              value="<%=user.email%>"
              required
              name='email'
            />
             <div class="invalid-feedback">
            Please enter a valid e-mail
          </div>
          </div>
          <div class="form-row form__group form__photo-upload">
            <img
              class="form__user-photo"
              src="/images/users/<%=user.photo%>" 
              alt="User photo"
            /><input class="form__upload" type="file" accept="image/*" id="photo" name='photo'/>
            <label for="photo">Choose new photo</label>
            
          </div>
          <div class="d-flex  justify-content-end">
            <button class="btn btn-dark submit-form">Save settings</button>
          </div>
        </form>
      </div>
      <div class="line">&nbsp;</div>
      <div class="user-view__form-container">
        <h2 class="heading-secondary ma-bt-md">Password change</h2>
        <form class="form form-user-password needs-validation" novalidate>
          <div class="form-row form__group">
            <label class="form__label" for="password-current"
              >Current password</label
            >
            <input
              class="form-control form__input"
              id="password-current"
              type="password"
              placeholder="••••••••"
              required
              minlength="8"
            />
             <div class="invalid-feedback">
            Password must be at least 8 characters
          </div>
          </div>
          <div class="form-row form__group">
            <label class="form__label" for="password">New password</label>
            <input
              class=" form-control form__input"
              id="password"
              type="password"
              placeholder="••••••••"
              required
              minlength="8"
            />
             <div class="invalid-feedback">
            Password must be at least 8 characters
          </div>
          </div>
          <div class="form-row form__group">
            <label class="form__label" for="password-confirm"
              >Confirm password</label
            >
            <input
              class="form-control form__input"
              id="password-confirm"
              type="password"
              placeholder="••••••••"
              required
              minlength="8"
            />
             <div class="invalid-feedback">
            Password must be at least 8 characters
          </div>
          </div>
         <div class="d-flex  justify-content-end"> <button class="btn btn-dark submit-form btn-save-password">Save password</button></div>
           
          
        </form>
      </div>
       <div class="user-view__form-container">
        <h2 class="heading-secondary ma-bt-md mb-4">Addresses</h2>
        <div class="row address-book mb-5 ">
          <%user.address.forEach((el,idx) =>{ %>
           <div class="d-flex flex-column col-sm-6 mb-4 justify-content-between">
              <%const addr = `${el.unit?`${el.unit}, `:''}${el.floorNo?`${el.floorNo}, `:''}${el.blockNo?`${el.blockNo}, `:''}${el.buildingName?`${el.buildingName}, `:''}${el.estateOrVillageName?`${el.estateOrVillageName}, `:''}${el.buildingNoFrom?`${el.buildingNoFrom} `:''}${el.streetName?`${el.streetName}, `:''}${el.dcDistrict?`${el.dcDistrict}, `:''}${el.region?`${el.region} `:''}  `;%>
              <p class="text-muted pt-20"  id="address<%=idx%>">
                <%=el.contactPerson%> <br/>
                <%= addr %><br/>
                tel:  <%=el.contactPhoneNo%>
              </p>
              <div class="d-flex justify-content-center">
                <button class="btn btn-dark mr-3 small-btn edit-address" data-address="<%=JSON.stringify(el)%>" >edit</button>
                <button class="btn btn-outline-dark small-btn delete-address" data-id="<%= el._id%>" >delete</button>
              </div>
            </div>
          <%})%>
          <div class="p-0 col-sm-6 mb-4 d-flex justify-content-center align-items-center">
          <div class=" add-address-button  d-flex align-items-center">
            <span>&plus;</span>
            <span class="add-address-button-text text-left">Add a new shipping address</span>
          </div>
        </div>
        </div>
        <form class="form form-user-address needs-validation" novalidate>
          <input type="text" class="d-none" id="_id"/>
          <div class="form-row">
            <div class="form-group col-md-12">
                <label for="contactPerson">Contact Person:</label>
                <input class="form-control" type="text" id="contactPerson"required/>
                <div class="invalid-feedback">Please enter contact name</div>
            </div>
          </div>
          <%- include("./_address") -%>
          <div class="form-row">
            <div class="form-group col-md-12">
                <label for="contactPhoneNo">Contact Phone Number</label>
                <input type="text" class="form-control" id="contactPhoneNo" required>
                <div class="invalid-feedback">Phone Number is required.</div>
              </div>
            </div>
          <div class="d-flex  justify-content-end"> <button class="btn btn-dark submit-form">Update address</button></div>
        </form>






      
    </div>
  </div>
</main>

<%- include("./_footer") -%>

<!--TODO: Make footer at the boottom
 const footer =document.querySelector('.footer__container') 
 footer.classList.add("fixed-bottom ")  -->
