<%- include("./_header") -%>
<main class="main container-xl">
  <div class="user-view  orders-container">
    <!--  Side Nav-->
    <div class="row d-flex title-div">
      <div class="col-md-3"><%- include("./_nav") -%></div>
      <!-- End  Side Nav-->

      <div class="col-md-9 user-view__content">
        <div class="account-products-container"></div>
        <h2 class="heading-secondary ma-bt-md">All Orders</h2>
        <% if(orders.length > 0) { %>
        <div class="col-lg-12">
          <form
            class="form form-inline align-items-end mb-2 needs-validation justify-content-center"
            novalidate
          >
            <!-------------- DATE -------------->
            <div class="d-flex flex-column mr-sm-2">
              <label for="date">Date </label>
              <input
                type="date"
                name="date"
                id="due-date"
                class="form-control"
              />
              <span class="validity"></span>
              <div class="invalid-feedback">Please select a valid date.</div>
            </div>

            <div class="d-flex flex-column mr-sm-2">
              <label for="is-ready">Readiness</label>
              <select class="custom-select" name="is-ready" id="is-ready">
                <option value="">Choose...</option>
                <option>Ready</option>
                <option>Not ready</option>
              </select>
            </div>
            <div class="d-flex flex-column mr-sm-2">
              <label for="is-delivered">Delivery</label>
              <select
                class="custom-select"
                name="is-delivered"
                id="is-delivered"
              >
                <option value="">Choose...</option>
                <option>Delivered</option>
                <option>Not delivered</option>
              </select>
            </div>
            <div class="d-flex flex-column mr-sm-2">
              <label for="is-paid">Payment</label>
              <select class="custom-select" name="is-paid" id="is-paid">
                <option value="">Choose...</option>
                <option>Paid</option>
                <option>Unpaid</option>
              </select>
            </div>
            <button
              id="filter-orders"
              type="submit"
              class="btn btn-default"
            >
              <i class="fas fa-sync"></i> Update
            </button>
          </form>
          <!-- Orders table -->
          <div class="table-responsive admin-orders-table">

            <table class="table table-sm table-hover edit-orders">
              <thead class="">
                <tr>
                  <th scope="col" >
                    Order
                  </th>
                  <th scope="col" class="optional-show">
                    Quantity
                  </th>
                  <th scope="col" >
                    Total
                  </th>
                  <th scope="col" >
                    Due Date
                  </th>
                  
                   <th scope="col" >
                    Customer
                  </th>
                   <th scope="col" >
                   Status
                  </th>
                   <th scope="col" >
                   
                  </th>
                </tr>
              </thead>
              <tbody>
                <% orders.forEach(function(order,index) { %>
                <tr>
                  <th scope="row"  class="align-middle" data-toggle="collapse" href="#<%=`collapse${index}`%>" role="button">
                    <%= order.orderItems.map((el) =>` ${el.product.name}`)  %>   
                  </th>
                  <td data-toggle="collapse" href="#<%=`collapse${index}`%>" role='button' class="align-middle optional-show"><%= order.orderItems.map((el) =>el.qty).reduce((a, b) => a + b, 0)  %></td>
                  <td data-toggle="collapse" href="#<%=`collapse${index}`%>" role='button' class="align-middle"><%= order.totalAmount %></td>
                  <td data-toggle="collapse" href="#<%=`collapse${index}`%>" role='button' class="align-middle"><%= order.dueDate.toISOString().split('T')[0]%></td>
                   <td data-toggle="collapse" href="#<%=`collapse${index}`%>" role='button' class="align-middle"><%= order.user.name%></td>
                   <td data-toggle="collapse" href="#<%=`collapse${index}`%>" role='button' class="align-middle text-center">
                     <% if (order.isPaid) { %><span>paid</span><% } %>
                     <% if (order.isReady) { %><span>ready</span><% } %>
                     <% if (order.isDelivered) { %><span>delivered</span><% } %>
                  </td>
                   <td>
                    <div class="dropdown ">
                      <a class="btn dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item edit-order-status-ready" data-field="<%=order._id%>" href="#">Mark as ready</a>
                        <a class="dropdown-item edit-order-status-delivered" data-field="<%=order._id%>" href="#">Mark as delivered</a>
                      </div>
                    </div>
                   </td>
                  </tr>
                  <tr id="<%=`collapse${index}`%>" class="panel-collapse collapse no-hover
no-hover">
                     <td colspan="999" class="p-0 ">
                            <table class="table table-sm  text-left inner-table">
                              <thead class=" ">
                                <tr>
                                  <th scope="col" >Product</th>
                                  <th scope="col" class="optional-show">Quantity</th>
                                  <th scope="col" >Color</th>
                                  <th scope="col" >Flavor</th>
                                  <th scope="col" >Request</th>
                                  <th scope="col" >Message</th>
                                </tr>
                              </thead>
                              <tbody>
                                <% order.orderItems.forEach(function(el) { %>
                                  <tr>
                                    <td class="text-left"><%=el.product.name%> <%=el.weight%>gr.</td>
                                    <td class="text-center"><%= el.qty %></td>
                                    <td class="text-left"><%= el.customColor?`${el.customColor} `:''%></td>
                                    <td class="text-left"><%=el.customFlavor?`${el.customFlavor} `:''%></td>
                                    <td class="text-left"><%=el.customRequest?`${el.customRequest} `:''%></td>
                                    <td class="text-left"><%=el.customMessage?`${el.customMessage} `:''%></td>
                                  </tr>
                                <% }); %>
                              </tbody>
                            </table>
                      </td>
                  </tr>
                </tr>
                <% }); %>
              </tbody>
            </table>
          <!-- End  Order Table-->
        </div>
        <% } else { %>
        <div
          class="d-flex h-100 w-100 align-items-center justify-content-center"
        >
          <p class="text-muted">No orders yet.</p>
        </div>

        <% } %>
      </div>
    </div>
  </div>
</main>

<%- include("./_footer") -%>
