<%- include("./_header") -%> 
<main class="main container-xl">
  <div class="cart-wrapper p-5">
  <h2>Cart</h2>
  <% if(cart && cart.items.length > 0) { %>
    <form class="form cart__update needs-validation" novalidate action="/cart/update" method="post" >
      <table class="cart-table table">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>           
          </tr>
        </thead>
        <tbody>
          <% cart.items.forEach(function(product) { %>
          <tr>
            <td class=" d-flex flex-row align-items-center pl-0 cart-item">
              <a class="btn  btn-default" href="/cart/remove/<%= product._id%>/<%= nonce %>">
                x
              </a>
              <img
                src="/images/products/<%= product.imageCover %>"
                alt=""
                class="img-responsive ml-1 product-thumb rounded shadow-sm"
              />
              <div class="d-flex flex-column ml-3 text-left">
                <h5><%= product.name %></h5>
                <p class="text-muted font-weight-normal font-italic"><span>Weight: </span><%= product.weight%>
                <% if(product.color){ %> 
                  <br><span>Color: </span><%= product.color%>
                <% } %> 
                    <% if(product.flavor){ %> 
                  <br><span>Flavor: </span><%= product.flavor%>
                <% } %> 
                    <% if(product.option){ %> 
                  <br><span>Option: </span><%= product.option%>
                <% } %> 
                    <% if(product.message){ %> 
                  <br><span>Message: </span><%= product.message%>
                <% } %> 
                </p>
              </div>
            </td>

            <% const randomId = Math.floor(Math.random() * Date.now())%>
          
            <td class="td-qty">
              <div class="d-flex align-items-center justify-content-center custom-input-number">
                 
                      <button type="button" class="btn btn-default btn-number" data-id=<%=randomId%> data-type="minus" data-field="qty<%= product._id%>">
                        <span>&minus;</span>
                      </button>
                    
              <input
                class="qty form-control input-number <%=randomId%>"
                type="number"
                name="qty<%= product._id%>"
                value="<%= product.qty %>"
                data-productId =<%= product._id%>
                data-id=<%=randomId%>
                data-price=<%= product.price *parseInt(product.weight,10)/product.weightUnit%>
                data-increaseBy="1"
                 min="1" max="10" required
              />
                
                      <button type="button" class="btn btn-default btn-number" data-id=<%=randomId%> data-type="plus" data-field="qty<%= product._id%>">
                        <span>&plus;</span>
                      </button>
                    
                    
                    </div>
                    <div class="invalid-feedback">Please provide weight.</div>
                  
              <input
                type="hidden"
                class="product_id"
                name="product_id[]"
                value="<%= product._id%>"
              />
            </td>
            <td><%= product.price *parseInt(product.weight,10)/product.weightUnit %></td>
            
          </tr>

          <% }); %>
          <tr class="info">
            <td colspan="5" class="text-right product-price">
               Total: <div class="d-inline m-0 p-0">HK$</div><span> <%= cart.totals %></span>
             
            </td>
          </tr>
        </tbody>
      </table>

      <div class="clearfix cart-footer">
        <input class ='nonce' type="hidden" name="nonce" value="<%= nonce %>" />
        <button type="submit" class="btn btn-default pull-left">
          <i class="fas fa-sync"></i> Update cart
        </button>
        <a href="/cart/empty/<%= nonce %>" class="btn btn-default pull-left"
          ><i class="fas fa-trash"></i> Empty cart</a
        >
        <button type="button" class="btn btn-default pull-right chekout-btn"
          >Checkout <i class="fas fa-shopping-cart"></i></i
        ></a>
         </button>
      </div>
    </form>
    <% } else { %>
      <!-- <p class="alert alert-info">Sorry, no products in your cart.</p> -->
      <div class="d-flex flex-column mt-5 align-items-center justify-content-center"><p class="text-muted">You have nothing in your shopping cart. </p>
      <a href="/shop"
          ><button type="button " class="btn btn-dark btn-lg mt-2">
            Continue Shopping
          </button></a
        >
       </div>
     
    <% } %>
  </div>
</main>
 <%- include("./_footer") -%>


