<%- include("./_header") -%>
<main class="main container-xl">
  <div class="user-view ">
    <!--  Side Nav-->
    <div class="row d-flex title-div ">
      <div class="col-md-3  ">
            <%- include("./_nav") -%>
      </div>
      <!-- End  Side Nav-->

      <div class="col-md-9  user-view__content">
         <div class="account-products-container"></div>
        <h2 class="heading-secondary ma-bt-md">My Orders</h2>
        <% if(orders.length > 0) { %>
        <div class="col-lg-12 myorders-container">
      <% orders.forEach(function(order,index) { %>
      <div class="card text-left">
        <div class="card-header d-flex justify-content-between">
          <div class="d-flex flex-column">
            <span>Order Placed</span>
            <span><%= order.createdAt.toISOString().split('T')[0]%></span>
          </div>
          <div class="d-flex flex-column">
            <span>Total</span>
            <span><%= order.totalAmount %> HKD</span>
          </div>
          <div class="d-flex flex-column">
            <span>Ship To</span>
            <span>
              <a tabindex="0" aria-expanded= <%= index===0? "true":"false"%> class="underline" role="" data-placement="bottom" data-toggle="popover" data-trigger="focus"  data-content="<%= order.shippingAddress.address %>"><%= order.shippingAddress.address.substring(0,12) %>...</a>
            </span>
          </div>
          <div class="d-flex flex-column">
            <span>Order # <span class="text-lowercase"><%= order._id%></span></span>
            <span class="text-right">
              <a  data-toggle="collapse" href="#collapse<%=order._id%>" class="underline">Order Details</a>
            </span>
           
          </div>
        </div>
        <% const show =  index===0?"show":""%>
        <div id="collapse<%= order._id%>" class="card-body checkout-wrapper cart-wrapper panel-collapse collapse <%= show %>">

          <table   class="cart-table table">
          <tbody>
             <% order.orderItems.forEach(function(product) { %>
            <tr>
              <td class=" d-flex flex-row align-items-center pl-0 pr-0 cart-item">
                <img src="/images/products/<%= product.product.imageCover %>" alt="" class="img-responsive ml-1 product-thumb rounded shadow-sm" />
                <div class="d-flex flex-column ml-3 text-left">
                  <h5><%= product.product.name %></h5>
                  <p class="text-muted font-weight-normal font-italic"><span>Weight: </span><%= product.weight%>
                    <% if(product.customColor){ %>
                    <br><span>Color: </span><%= product.customColor%>
                    <% } %>
                    <% if(product.customFlavor){ %>
                    <br><span>Flavor: </span><%= product.customFlavor%>
                    <% } %>
                    <% if(product.customRequest){ %>
                    <br><span>Option: </span><%= product.customRequest%>
                    <% } %>
                    <% if(product.customMessage){ %>
                    <br><span>Message: </span><%= product.customMessage%>
                    <% } %>
                  </p>
                </div>
              </td>

              <td class="cart-item-totals text-right">
                <span class="d-block">HK$<%= product.unitAmount/100 %></span>
                <div class=" custom-input-number">
                     
                <input class="qty input-number" type="number" name="qty<%= product._id%>" value="<%= product.qty %>" readonly/>
                      
                  </div>
  
              </td>


            </tr>

            <% }); %>
            <tr class="info">
              <td colspan="5" class="text-right">
                Total: HK$<span><%= order.totalAmount %></span>
              </td>
            </tr>

          </tbody>
        </table>


          
        </div>
        <div class="card-footer d-inline-flex justify-content-between">
          <div class=" ">
            <span>Delivery</span>
            <span><%= order.dueDate.toISOString().split('T')[0]%></span>
          </div>
          <div class=" ">
            <span>Status</span>
            <span><%= order.isDelivered?"Delivered":"Processing"%></span>
          </div>
        </div>
      </div>
      <% }); %>



          
        </div>
        <% } else { %>
          <div class="d-flex h-100 w-100 align-items-center justify-content-center"><p class="text-muted">No orders yet.</p></div>
        
        <% } %>
      </div>
      </div>
    </div>
  </div>
</main>

<%- include("./_footer") -%>

