<%- include("./_header") -%>
<%//let keys=Object.keys(allProducts[0].toJSON())%>
<% const productSchema={ _id:{ visible:false, boolean:false, listbox:false, textarea:false }, name:{ visible:true, boolean:false, listbox:false, textarea:false}, price:{ number:true,visible:true, boolean:false, listbox:false, textarea:false},ingredients:{ visible:true, boolean:false, listbox:true, textarea:false },weight:{ visible:true, boolean:false, listbox:true, textarea:false },summary:{ visible:true, boolean:false, listbox:false, textarea:true },description:{ visible:true, boolean:false, listbox:false, textarea:true},imageCover:{ visible:true, boolean:false, listbox:false, textarea:false, isImage:true },images:{ visible:true, boolean:false, listbox:false, textarea:false, isImages:true }, orderByWeight:{ visible:true, boolean:true, listbox:false, textarea:false },customColors:{ visible:true, boolean:true, listbox:false, textarea:false },customFlavors:{ visible:true, boolean:true, listbox:false, textarea:false } ,   isFeatured:{ visible:true, boolean:true, listbox:false, textarea:false },isAvailable:{ visible:true, boolean:true, listbox:false, textarea:false }}  %>


<main class="main account-container">
  <div class="user-view container-xl">
    <!--  Side Nav-->
    <div class="row d-flex title-div ">
      <div class="col-md-3">
        <%- include("./_nav") -%>
      </div>
      <!-- End  Side Nav-->
      <div class="col-md-9  align-self-center user-view__content">
        <div class="account-products-container">
          <h2 class="heading-secondary">All Products</h2>

          <% if(allProducts ) { %>
          <div class="col-lg-12">

            <!-- All Products table -->
            <div class="table-responsive">
              <table class="table table-sm table-hover products-table">
                <thead >
                  <tr>
                    <th scope="col">
                      Image
                    </th>
                    <th scope="col">
                      Product
                    </th>
                    <th scope="col">
                      Price
                    </th>
                    <th scope="col" class="optional-show">
                      Options
                    </th>
                    <th scope="col">
                      Edit
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% allProducts.forEach((product,index)=> { %>
                    <!-- TODO: make it collapse and responsive to press on edit at the same time -->
                  <tr >
                    <th scope="row" class="align-middle">
                      <div class="d-inline-block align-middle rounded shadow-sm">
                        <img src="/images/products/<%= product.imageCover %>" alt="" width="60" class="img-fluid rounded shadow-sm">
                      </div>
                    </th>
                    <td class="align-middle" data-toggle="collapse" data-target="<%=`#collapse${index}`%>" role='button' >
                      <div class="d-inline-block align-middle">
                        <h5 class="mb-0"> 
                          <!-- <a data-toggle="collapse" href="#<%=`collapse${index}`%>"> -->
                            <%= product.name  %>
                          <!-- </a> -->
                        </h5>
                        <span class="text-muted font-weight-normal font-italic">Summary: <%= product.summary %></span>
                      </div>
                    </td>
                    <td class="align-middle" data-toggle="collapse" data-target="<%=`#collapse${index}`%>" role='button'>
                      <%= product.price  %>
                    </td>
                      <td class=" align-middle optional-show" data-toggle="collapse" data-target="<%=`#collapse${index}`%>" role='button'>
                        <table class="table table-sm table-borderless table-custom-options">
                          <tbody>
                            <tr class="no-hover">
                              <td class="align-middle">Color:</td>
                              <td class="align-middle">
                                <% if(product.customColors===true){%>
                                  <span class="text-success">&#9745;</span>
                                  <% }else { %> 
                                     <span class="text-danger">&times;</span>
                                    <% } %> 
                              </td>
                            </tr>
                            <tr class="no-hover">
                              <td class="align-middle">Flavor:</td>
                              <td class="align-middle">
                                <% if(product.customFlavors===true) { %>
                                    <span class="text-success">&#9745;</span>
                                  <% } else  {  %>
                                    <span class="text-danger">&times;</span>
                                  <% }%>
                              </td>
                            </tr>
                            <tr class="no-hover">
                              <td class="align-middle">Featured:</td>
                              <td class="align-middle">
                                <% if(product.isFeatured===true) {%>
                                    <span class="text-success">&#9745;</span>
                                     <% }else { %> 
                                     <span class="text-danger">&times;</span> 
                                    <% } %> 
                                    </div>
                              </td>
                            </tr>
                             <tr class="no-hover">
                              <td class="align-middle">Available:</td>
                              <td class="align-middle">
                                <% if(product.isAvailable===true) {%>
                                    <span class="text-success">&#9745;</span>
                                     <% }else { %> 
                                     <span class="text-danger">&times;</span> 
                                    <% } %> 
                                    </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    <td class="align-middle">
                      <a  role="button" class="btn edit-product-btn p-0"  data-field="<%=JSON.stringify(product)%>" >
                         <i class="fas fa-edit  m-3"></i>
                      </a>
                     </td>
                  </tr>

                  <tr class="align-middle collapse no-hover" id="<%=`collapse${index}`%>">
                    <td colspan="999" class="p-0">
                      <div>
                        <table class="table table-sm inner-table">
                          <thead>
                            <tr>
                              <th class="border-top-0">Description</th>
                              <th class="border-top-0 optional-show">Weights(grams)</th>
                              <th class="border-top-0 optional-show">Ingredients</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="align-middle">
                                <p class="text-muted font-weight-light font-italic">
                                  <%= `Description: ${product.description} `%>
                                </p>
                              </td>
                              <td class="align-middle optional-show"><%= product.weight.join(", ") %></td>
                              <td class="align-middle optional-show"><%= product.ingredients.join(", ")%></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
            <!-- End  Product Table-->

          </div>
        </div>

        <!-- The Modal -->
        <div class="modal" id="editProductModal">
          <div class="modal-dialog  modal-dialog-centered modal-xl">
            <div class="modal-content">
              
              <!-- Modal Header -->
              <div class="modal-header w-100">
                <h4 class="modal-title mx-auto w-100">Edit Product</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <form action="" id="edit-form">
                  <div class='form-row align-items-center'>

                    <% Object.entries(productSchema).map(([key, value], idx) =>  { %>
                      <% if (idx%3===0){ %>
                        </div>
                         <div class='form-row align-items-center'>
                           <% } %> 
                    <% if (value['boolean']===true) { %>
                    <div class="form-check align-items-center justify-content-center col-md-4 col-sm-12">
                      <input class="form-check-input" type="<%= value['visible']===false?'hidden':'checkbox' %>" name="<%= key %>">
                      <label class="form-check-label" for="<%= key %>"><%= key %></label>                    
                    </div>

                    <% } else if (value['textarea']===true) { %>
                    <div class="form-group col-md-4 col-sm-12 align-self-start">
                      <label class="form-label" for="<%= key %>"><%= key %></label>
                      <textarea class="form-control txtArea" " rows="8" name="<%= key %>"></textarea>
                    </div>

                    <% } else if (value['isImage']===true) { %>
                    <div class="form-group custom-file col-md-4 col-sm-12 d-flex flex-wrap flex-column justify-content-center align-self-start">
                      <span class="w-100 mb-4"><%= key %></span>
                      <div>
                      <img src="" alt="product image" class="rounded shadow-sm <%= key %> " />
                      </div>
                      <div>
                      <input class="inputfile" id="photo-<%= key %>" type="file" accept="image/*"  data-multiple-caption="count files selected" name="<%= key %>" />
                      <label class="form-label  mt-4" for="photo-<%= key %>"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Choose a file&hellip;</span></label>
                      </div>
                      <!-- <label class="" for="<%= key %>">Choose new photo</label> -->
                    </div>

                    <% } else if (value['isImages']===true) { %>
                    <div class="form-group custom-file col-md-4 col-sm-12 d-flex flex-wrap flex-column justify-content-center align-self-start">
                      <span class="w-100 mb-4"><%= key %></span>
                      <div class="d-flex justify-content-center">
                      <img src="" alt="product image"  class="rounded mr-1 edit-images shadow-sm photo-<%= key %>0 "  style="display: none;"/>
                      <img src="" alt="product image"  class="rounded mr-1 edit-images shadow-sm photo-<%= key %>1 "  style="display: none;"/>
                      <img src="" alt="product image"  class="rounded mr-1 edit-images shadow-sm photo-<%= key %>2 "  style="display: none;"/>
                      </div>
                      <div>
                        <input class="inputfile" id="photo-<%= key %>" type="file" accept="image/*" data-multiple-caption="count files selected" name="<%= key %>" multiple />
                      <label class="form-label mt-4" for="photo-<%= key %>"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Choose files&hellip;</span></label>
                      </div>
                   
                      
                      <!-- <label class="" for="<%= key %>">Choose new photo</label> -->


                     <template id="template">
                      <div class="template-container">
                          <div class="primary-action">{{label}}</div>
                          <div class="secondary-action"><smart-button class="material flat delete-item" ><i class="fa fa-minus" aria-hidden="true"></i></smart-button></i></div>
                      </div>
                    </template>
                    </div>
                     <% } else if (value['listbox']===true) { %>
                      <div class="form-group col-md-4 col-sm-12">
                        <label><%= key %></label>
                        <smart-list-box id="listbox-custom-<%= key %>" selection-mode="one" editable item-template="template" name="<%= key %>" >
                    
                        </smart-list-box>
                        <div class="add-input-container pl-3">
                              <smart-input class="underlined text-left " placeholder="Add item"></smart-input> 
                              <smart-button class="material flat add-item"><i class="fa fa-plus" aria-hidden="true"></i></smart-button>
                            </div>  
                            <div class="invalid-feedback">Please enter a value</div>
                      </div>

                    <% } else { %>

                    <div class="form-group col-md-4 col-sm-12 align-self-start" >
                      

                       <label class="form-label" type=" for=" <%= key %>"><%= key %></label>
                      <input class="form-control" type="text" <%= value['visible']===false?'disabled':''%> name="<%= key %>"> 
                    </div>
                    <% }  %>


                    <% }); %>

                  </div>
                  <button type="button" class="btn btn-dark btn-lg" id="btnProductUpdateSubmit">Update</button>
         


                </form>


              </div>

            </div>
          </div>
        </div>


        <% } else { %>
        <p class="alert alert-info">No products yet.</p>
        <% } %>
      </div>
    </div>

  </div>
</main>

<%- include("./_footer") -%>